@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.Quiz{
    background: black;
    width: 450px;
    min-height: 200px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    box-shadow: 10px 10px 42px 0px black;
    text-align: center;
    align-items: center;
}

.quiz{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    align-items: center;
}

.image{
    width: 400px;
}